

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600;1,700&family=League+Spartan:wght@100&family=Noto+Sans:ital,wght@0,700;0,900;1,100&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600;1,700&family=Lato:ital@1&family=League+Spartan:wght@100&family=Noto+Sans:ital,wght@0,700;0,900;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600;1,700&family=Indie+Flower&family=Lato:ital@1&family=League+Spartan:wght@100&family=Noto+Sans:ital,wght@0,700;0,900;1,100&display=swap');


/* Esse é o reset geral para não refletir diferenças entre navegadores */
* { 
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: rgb(93, 234, 127);
    --cor-secundaria: rgb(94, 235, 174);
    --cor-terciaria: rgb(74, 167, 60);
    --cor-quaternaria: rgb(63, 92, 28);
    --cor-quinaria: rgb(50, 207, 160);
    --cor-sextupla: rgb(0, 0, 0);
    --cor-setupla: rgb(248, 253, 253);
    --cor-octupla: rgba(231, 190, 189, 0.771);
    --cor-noctupla: rgb(10, 34, 24);
    --cor-dectupla: rgb(198, 201, 200);
    --fonte-primaria: 'League Spartan';
    --fonte-secundaria: 'Indie Flower', cursive;
}

body {
    height: 100%;
    background-image: url("/src/image/imagens_background/background_light.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--cor-primaria);
    background-size: 100%; 
    font-family: var(--fonte-primaria);
    font-size: 21px;
    color: var(--cor-sextupla);
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    font-weight: bold;
}

header {
    margin-bottom: 7%;
}

.logo-principal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo-texto {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-right: 40%;
    margin-top: 3%;  
}

main {
    color: var(--cor-sextupla);
    line-height: 2em;
}

main p {
    margin-top: 2%;
}

.texto-main1,
.texto-main2,
.texto-main3,
.texto-main4 {
    padding: 1%;
}

.texto-main2 {
    flex: 1 50%;
    margin-left: 1%;
}

.texto-main3 {
    flex: 3;
    margin-right: 2%;
}

.image-main1, .image-main2 {
    height: 300px;
    width: 289.5px;
    background-color: var(--cor-octupla);
    border-radius: 8px;
    border: solid 3.5px var(--cor-octupla);
    padding: 0.4%;
}

.image-main1 {
    flex: 1;
    margin: 0.5% 1% 1% 3%;
}

.image-main2 {
    flex: 1;
    margin: 1.5% 3% 0% 0%;
}


.texto-explicativo {
    font-family: var(--fonte-primaria);
    color: var(--cor-sextupla);
    text-align: justify;
}

.principal {
    background-color: var(--cor-octupla);
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    
    
}

h1 {
    text-align: left;
    padding: 30px 10px 20px 30px ;
    font-family: var(--fonte-secundaria);
}

h2 {
    font-weight: bold;
}

h3 {
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 30.9px;
    line-height: 2em;
}

  /* Detalhe para separar seções e destacar o nome */
.divisor-secao {
    padding: 30px;
    margin: 4%;
    background-color: var(--cor-octupla);
    border-radius: 0px 50px 0px 50px;
    text-align: center;
    font-weight: bold;
}

  /* Estilos para o modo dark */
.dark {
    background-color: var(--cor-quaternaria);
    background-image: url("/src/image/imagens_background/background_dark.jpg");
}
 .dark h1 {
    color:var(--cor-setupla);
 }

.dark h5 {
    color:var(--cor-setupla);
 }

 .dark .swiper-slide {
    background-image: url(/src/image/imagens_background/background_light.jpg);
    background-position-x: right;
    color: var(--cor-sextupla);
 }

.botao {
    border-radius: 50px;
    padding: 5px;
    background-image: linear-gradient(to right, var(--cor-octupla), var(--cor-secundaria));
    border: 2px solid var(--cor-terciaria);
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: -15px;
}
  
#modoBotao {
    width: 50px;
    height: 30px;
}

.nav {
    display: flex;
    justify-content: flex-end; 
    margin-top: 2%;
    font-family: var(--fonte-primaria);
    
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0% 10% 0% 0%;
}


.nav li {
    display: inline-block;
    margin: 2%; 
    
}

nav ul li a {
    padding-bottom: 10px;
    text-decoration: none;
    color: var(--cor-terciaria);
    position: relative;
    font-weight: bold;
    font-size: 30px;
}

nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: transparent;
    background: var(--cor-quinaria);
    transition: all 0.5s;
}

nav ul li a:hover:after {
    display: flex;
}

nav ul li a:hover {
color: var(--cor-quaternaria);
z-index: 1;
transition: color 1s;
}

  /*Estilos para a section galeria apresentação*/
.slideshow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 62.5rem;
    margin: auto;     
    text-align: center;   
}
  
.mySlides  {
    display: none;
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
  }

/* tamanho e estilo imagem apresentação */
.apresentacao {
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    border: 2.5px solid var(--cor-terciaria);
}

/* Estilos para o modal */
.modal {
    background-color: var(--cor-quinaria);
    padding: 40px;
    border-radius: 5px;
    text-align:center;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
    overflow:auto;
    display: none;
}

.modal h4 {
    font-size: 1.5em;
    font-family: var(--fonte-secundaria);
    margin: 15px;
}

.modal img {
    margin: 10px;
}
 /* botões */
.open-modal,
.close-modal {
    display: block;
    text-align: center;
    font-weight: bold;
    width: 80%;
    padding: 3%;
    margin: 20px auto;
    background-color: var(--cor-octupla);
    color: var(--cor-sextupla);
    border-radius: 5px;
    transition: 0.5s;
    border: 3px solid var(--cor-primaria);
}

.open-modal:hover,
.close-modal:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-dectupla);
    border: 3px solid var(--cor-octupla);
}

/* Estilos para o slider depoimentos */
.depoimentos-carousel {
    text-align: center;
    padding: 20px;
    margin: 4%;
    display: flex;
    border-radius: 20px;
    border: solid var(--cor-terciaria);
}
  
.carousel-container {
    width: 100%;
    height: 100%;
    margin: 0; 
    position: relative;
    overflow: hidden;
    display: flex;
}
  
.swiper-container {
    width: 86.6%;
    height: 80%;
    display: flex;
}
  
.swiper-wrapper{
    display: flex;
    margin: auto;
}

/* Card de depoimentos */
.swiper-slide {
    background-image: url(/src/image/imagens_background/background_light.jpg);
    background-position-y: bottom;
    padding: 20px;
    color: var(--cor-setupla);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

/* Estilos para fotos de depoimentos */
.swiper-slide img {
    max-width: 100%;
    height: auto;
    margin: auto;
    object-fit: cover;
}

/* Botão do slide de depoimentos */
#prevBtn, #nextBtn {
    background-color: var(--cor-terciaria);
    opacity: 80%;
    color: var(--cor-setupla);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
  
#prevBtn:hover,
#nextBtn:hover {
    background-color: var(--cor-quaternaria);
}

/* videos iframe dos depoimentos */
.video-embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
}

.video-embed-container iframe,  
.video-embed-container object,  
.video-embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Estilos da section equipe */
.equipes-card-container {
    display: flex; 
    margin: auto;
    display: flex;
    width: 95vw;
    text-align: center;
}

.texto-parceiro {
    font-size: 21px;
}

.text-card {
    margin: 10px 50px;
    align-items:center;
    display:inline-flex;
    padding: 20px;
    background-image: url(/src/image/imagens_background/background_light.jpg);
    background-position-y: center;
    border-radius: 20px;
    border: solid 3px var(--cor-octupla);
}

.text-card img {
   /* width: 200px; 
    height: 200px; */
    border-radius: 100px;
    border: solid 2px var(--cor-primaria);
}

/*Estilização do formulário*/
.formulario-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin: 2%;
}
  
.logo-form {
    flex-shrink: 1;
    padding: 10px;
    text-align: center;
   
}

.imagem-logo {
    border-radius: 50%;
    border: solid 3px var(--cor-octupla);
    width: 250px;
    height: 250px;
    margin-bottom: 3%;
}
  
.formulario {
    flex: 1;
    max-width: 600px;
    background-image: url(/src/image/imagens_background/background_light.jpg);
    background-position-y:bottom;
    color: var(--cor-setupla);
    
}
  
.formulario label {
    display:inline;
    margin-left: 2.5%;
}

  
.formulario input[type="text"],
.formulario input[type="email"],
.formulario select,
.formulario textarea {
    width: 85%;
    padding: 10px;
    border: 1px solid var(--cor-quinaria);
    border-radius: 5px;
    margin: 5px 25px 5px 25px;
}
  
.formulario textarea {
    height: 200px;
}
  
.formulario select {
    width: 89%;
}
  
.formulario button {
    background-color: var(--cor-noctupla);
    color: var(--cor-setupla);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;

}
  
legend {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.termos {
    text-align: center;
}

.formulario button:hover {
    background-color: var(--cor-quinaria);
}

.contatar {
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    text-align: justify;
    background-color: var(--cor-octupla);
}

.contatar-usuario {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--cor-octupla);

}

.desevolvido-por {
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 15px;
}

/* Estilos do footer */
.main_footer {
    display: flex;
    justify-content:end;
    padding-top: 50px;
    margin-top: 5%;
}

.alinhamento {
    width: 70%;
    height: auto; 
}

/* estilos parceiros */
.imagem-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
}

.card-parceiros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--cor-octupla);
    padding: 50px;
    border-radius: 8px;
}

.card-parceiros img {
    max-width: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
}

.resumo-parceiros-scr,
.resumo-parceiros-cald,
.resumo-parceiros-alu,
.resumo-parceiros-arq,
.resumo-parceiros-ega {
    flex: 1;
    margin: 0 20px; 
    padding: 50px;
    text-align: justify;
}

.alura-image {
    margin-top: 25%;

}

.caldeira-image {
    margin-top: 15%;

}

.arquitetando-image {
    margin-top: 30%;

}

.sicredi-image {
    margin-top: 37%;

}

/* Botão acessibilidade */
.buttonSpeaker {
    margin-right: 50px;
    margin-bottom: 450px;
    
}

.image-acess {
    height: 50px;
    width: 50px;
}

.buttonSpeaker {
    width: 1.8%;
    height: 20%;
    position:fixed;
    bottom: 0;
    right: 0;
}

.mensagem-sucesso {
    background-color: var(--cor-octupla);
    margin: 0% 6% 6% 6%;
    padding: 7%;
    border-radius: 30px;
    border: solid 3px var(--cor-noctupla);
}

.dark-sucesso-form {
    align-self:center;
    position: relative;
    top: auto;
    left: 300px;
}
.form-sucefull {
    margin: 0% 5% 2% 5%;
}









/* >>>>>>>>>>>>>>>>>>>>>>>> TAMANHO 768PX <<<<<<<<<<<<<<<<<<<<<<<<<<*/   
  /* query responsivo */
  @media screen and (max-width: 768px) {
    /* ok */
    .logo-principal {
        margin: auto;
    }

    /* ok */
    .logo-texto {
        margin-left: 3%;
        width: 90%;
    }

    /* ok */
    .botao {
        margin: auto;
    }

    /* ok */
    .nav ul li {
        margin: 0.2%;
    }

    /* ok */
    .nav ul {
        margin-right: 5%;
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        text-align: left;
        font-size: 2em;
        padding: 4% 1% 1% 2% ;
        font-family: var(--fonte-secundaria);
    }

    /* ok */
    .slideshow-container {
        margin: 0% 10%;
    }

    /* ok */
    .mySlides  {
        display: none;
        flex: 0 0 30%;
        max-width: 50%;
        text-align: center;
      }

      /* ok */
    .apresentacao {
        width: 180px;
        height: 180px;
    }

    /* ok */
    .contatar,
    .contatar-usuario {
        width: 84%;
        margin: auto;
    }

    /* ok */
    .texto-main1,
    .texto-main2,
    .texto-main3,
    .texto-main4 {
        width: 100%;
        flex: none;
        margin: 0% -3%;
    }

/* ok */
    .image-main1,
    .image-main2 {
        width: 100%;
        height: 80%;
        flex: none;
        margin: 3% -3%;
        padding: 2%;
    }


    /* ok */
    .formulario {
        width: 100%;
        margin: auto;
    }

    /* ok */
    .depoimentos-carousel {
        width: 90%;
        height: 100%;
        margin: auto;
    }

    /* ok */
    .swiper-container {
        width: 80%;
        height: 100%;
        margin: auto;
    }

    /* ok */
    .swiper-slide {
        padding: 0.3% 0.5%;
        height: 100%;
    }

/* ok */
    .imagem-container {
        margin: 2%;
        padding: 0.1%;

    }

/* ok */
    .card-parceiros {
        flex-direction: column;
        text-align: center;
        padding: 11px;
        margin: 3px;

    }

/* ok */
    .card-parceiros {
        padding: 5%;
    }

/* ok */
    .card-parceiros img {
        align-items: center;
        margin: auto;
    }
/* ok */
    .resumo-parceiros-scr,
    .resumo-parceiros-cald,
    .resumo-parceiros-alu,
    .resumo-parceiros-arq,
    .resumo-parceiros-ega {
        margin: 2% 0%;
        padding: 2%;
        align-items: center;
    }

    /* ok */
    .main_footer {
        width: 70%;
        margin-left: 30%;
        display: flex;
    }

    /* ok */
    .alinhamento {
        width: 70%;
        justify-content: space-around;
    }








/* >>>>>>>>>>>>>>>>>>>>>>>>TAMANHO 400PX <<<<<<<<<<<<<<<<<<<<<<<<<<*/    

@media (max-width: 400px) {
    .main_footer {
        flex-direction: column;

    }

    .depoimentos-carousel {
        background-color: transparent;
    }
    .swiper-container {
        width: 80%;
        padding: 8px;
    }

    .main_footer {
        justify-content: center;
        padding-top: 30px;
    }

    .alinhamento {
        width: 90%;
    
    }
   }
  }